.send-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
  background-color: #2d3c53;
}

.send-email .email-heading {
  padding-top: 30px;
  padding-bottom: 20px;
  text-align: center;
}

.send-email .email-heading .email-icon {
  width: 64px;
  height: 64px;
}

.send-email .email-heading h2 {
  font-size: 24px;
  color: #f0f2f4;
}

.send-email .email-feilds {
  width: 100%;
  max-width: 350px;
  padding-bottom: 30px;
}

.send-email .email-feilds form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.send-email .email-feilds form input {
  width: 90%;
  height: 40px;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px #adb5bd;
          box-shadow: 0 1px 2px #adb5bd;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 10px;
  border: none;
}

.send-email .email-feilds form input:focus {
  -webkit-box-shadow: inset 1px 1px 2px #202429, inset 1px 1px 2px #202429;
          box-shadow: inset 1px 1px 2px #202429, inset 1px 1px 2px #202429;
  outline: none;
}

.send-email .email-feilds form textarea {
  width: 90%;
  height: 80px;
  padding-left: 10px;
  padding-top: 10px;
  background-color: white;
  -webkit-box-shadow: 0 1px 2px #adb5bd;
          box-shadow: 0 1px 2px #adb5bd;
  margin-bottom: 10px;
  border-radius: 10px;
  border: none;
}

.send-email .email-feilds form textarea:focus {
  -webkit-box-shadow: inset 1px 1px 2px #202429, inset 1px 1px 2px #202429;
          box-shadow: inset 1px 1px 2px #202429, inset 1px 1px 2px #202429;
  outline: none;
}

.send-email .email-feilds form button {
  width: 94%;
  height: 40px;
  background-color: #07878d;
  color: #f0f2f4;
  border-radius: 10px;
  border: none;
  outline: none;
}

.send-email .email-feilds form button:hover {
  background-color: #09b5be;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.send-email .email-feilds form button:active {
  outline: none;
  background-color: #07878d;
}

@media (miin-width: 570px) {
  .send-email {
    margin-top: 120px;
  }
}

@media (min-width: 768px) {
  .send-email {
    height: 250px;
    margin-top: 150px;
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .send-email .mail {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .send-email .email-heading {
    height: 250px;
    bottom: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    padding-top: unset;
    padding-bottom: unset;
  }
  .send-email .email-heading .email-icon {
    width: 100px;
    height: 100px;
    padding-left: 20%;
  }
  .send-email .email-heading h2 {
    padding-left: 20%;
  }
  .send-email .email-feilds {
    height: 350px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: unset;
    background-color: #f0f2f4;
    -webkit-box-shadow: 0 4px 15px #202429;
            box-shadow: 0 4px 15px #202429;
    border-radius: 10px;
    bottom: 50px;
  }
  .send-email .email-feilds form {
    width: 100%;
  }
}
/*# sourceMappingURL=email.css.map */